<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Extended" version="0.6.568" targetFramework="xamarinios10" />
  <package id="MonoGame.Extended.Content.Pipeline" version="0.6.568" targetFramework="xamarinios10" />
  <package id="MonoGame.Framework.iOS" version="3.5.0.1678" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
</packages>